body {
	margin:0;
	color:#535353;
	font:13px/18px Tahoma, Geneva, sans-serif;
	background:#aeaeae;
	min-width: 980px;
}
img {
	border-style:none;
	vertical-align: top;
}
a {
	text-decoration:none;
	color:#005271;
}
a:hover {text-decoration:underline;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
.aligncenter { text-align: center;}
img.aligncenter {
	display: block;
	margin: 0 auto;
}
.alignleft {float: left;}
.alignright {float: right;}
#wrapper{
	width: 100%;
	overflow: hidden;
	position: relative;
}
.w1{
	width: 980px;
	margin: 0 auto;
}
#header-wrapper{
	width:100%;
	height:124px;
	margin-bottom:-44px;
	background:transparent url(../images/bg-header.png) repeat-x top center;
	z-index:2;
	position:relative;
}
#header{
	padding:0 150px;
}
#header .logo{
	width: 269px;
	height: 78px;
	background: url(../images/logo.png) no-repeat;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	margin: 6px 0 0 3px;
}
#header .logo a{
	display: block;
	height: 100%;
}
#header .slogan{
	float: left;
	background: url(../images/separator.gif) no-repeat;
	margin-top: 14px;
	padding: 19px 5px 22px 22px;
	font-size: 22px;
	text-transform: uppercase;
	color:#717074;
	text-shadow: 0 1px 0 #f7f9f9;
}
#header .info{
	color:#717074;
	line-height: 16px;
	float: right;
	padding: 19px 0 5px 5px;
	width: 147px;
}
.section .content .info .mark,
#header .info .mark{
	color:#008fc5;
	font-size: 14px;
}
.banner-block{
	padding: 14px 9999px 0;
	margin: 0 -9999px;
	background: #008fc5 url(../images/banner.jpg) no-repeat 50% 0;
	height: 307px;
}
.banner-block.inner{height: 256px;}
.banner-block:after,
#header:after{
	content:"";
	display:block;
	clear:both;
}
.banner-block .visual{
	margin: 0 auto;
	width: 977px;
	position: relative;
	z-index: 25;
	background: url(../images/bg-shadow-visual.png) no-repeat 50% 100%;
	padding-bottom: 30px;
}
.banner-block .visual img{border: 4px solid #fff;}
.banner-block .text-area{
	display: inline-block;
	vertical-align:middle;
	border: 4px solid #fff;
	background: url(../images/bg-text-holder.png) repeat-y;
	width: 262px;
	line-height: 16px;
	margin: -31px -9px 0 0;
	min-height: 303px;
	padding: 23px 14px 23px 19px;
	position: relative;
	z-index: 25;
}
.banner-block .text-area h1{
	color:#008fc5;
	font: bold 18px/21px Tahoma, Geneva, sans-serif;
	margin: 0 0 15px;
}
.banner-block .text-area p{margin: 0;}
.placeholder-video{
	padding: 5px;
	border: 1px solid #c4d1d3;
	background-color: #fff;
	position:absolute;
	top:0;
	left:0;
	z-index:2;
}
.placeholder-holder{
	display: inline-block;
	vertical-align:middle;
	background: url(../images/bg-shadow-video.png) no-repeat 50% 100%;
	width: 681px;
	padding-bottom: 30px;
	position: relative;
	z-index: 25;
	min-height:382px;
}
.placeholder-video .title{
	font-size: 17px;
	display: block;
	margin-bottom: 8px;
}
.placeholder-video .text-holder{
	position: absolute;
	left: 33px;
	top: 25px;
	font: 16px/18px Tahoma, Geneva, sans-serif;
}
.placeholder-video .text-holder p{margin: 0;}
.placeholder-video .play{
	position: absolute;
	bottom:9px;
	left:19px;
	text-indent: 100%;
	overflow:hidden;
	white-space: nowrap;
	background: url(../images/bg-play.png) no-repeat;
	width: 80px;
	height: 80px;
}
#video-player{
	position:absolute;
	top:0;
	left:0;
	z-index:1;
}
#main-wrapper{
	background-color:#efefef;
}
#main-wrapper.overview{
	background:#008FC5 url(../images/bg-gallery.jpg) no-repeat top center;
}
#main{/*
	padding: 0 9999px;
	margin: 0 -9999px;
	background-color: #efefef;
*/}
.section{
	background: url(../images/bg-section.png) repeat-x;
	padding: 133px 9999px 8px;
	margin: -28px -9999px 0;
	position: relative;
	overflow: hidden;
}
.section .content{
	color:#535353;
	line-height: 18px;
	padding: 44px 9px 42px 11px;
}
.section .content h1{
	margin: 0 0 6px -2px;
	font: bold 24px/30px Tahoma, Geneva, sans-serif;
	color: #008fc5;
}
.section .content img{border: 1px solid #005271;}
.section .content img.alignleft{margin: 9px 25px 0 0;}
.section .content img.alignright{margin: 9px 0 0 25px;}
.section .content p{margin: 0 0 18px;}
.section .content ul{
	margin: 0 0 18px -1px;
	padding:0;
	width: 640px;
	list-style: none;
}
.section .content li{
	padding: 6px 0 1px 19px;
	background: url(../images/bullet.gif) no-repeat 0 12px;
}
.section .content .back{
	display: inline-block;
	vertical-align:top;
	margin: 10px 0 14px -2px;
	background: url(../images/sprite-btn.png) no-repeat 100% -84px;
	padding-right: 37px;
	color:#fff;
}
.section .content .back >span{
	display: block;
	height: 20px;
	padding: 3px 0 3px 21px;
	min-width: 34px;
	background: url(../images/sprite-btn.png) no-repeat 0 0;
}
.section .content .info{margin: 0 0 0 -2px;}
.program-block{
	overflow: hidden;
	padding: 0 15px;
}
.program-block .heading{
	overflow: hidden;
	background: url(../images/bg-program-block.png) no-repeat;
	padding: 3px 0 6px 32px;
	margin: 0 0 -15px -19px;
	position: relative;
	z-index: 5;
	width: 946px;
	height: 36px;
}
.program-block .heading h3,
.program-block .heading h2{
	margin: 0;
	font: bold 13px/17px Tahoma, Geneva, sans-serif;
	color:#474747;
	float: left;
	height: 24px;
	padding: 9px 4px 4px;
}
.program-block .heading h3{
	float: right;
	width: 271px;
	background: url(../images/separator04.gif) no-repeat;
	padding-left: 27px;
}
.program-block .title{margin-bottom: 14px;}
.program-block .title h3{
	margin: 0;
	font: bold 13px/15px Tahoma, Geneva, sans-serif;
	color: #008fc5;
	padding:0 0 0 42px;
	height:30px;
	display: table-cell;
	vertical-align: middle;
}
.program-block .title h3 >a{color: #008fc5;}
.program-block >div .course{background: url(../images/icon-course.png) no-repeat;}
.program-block >div .about{background: url(../images/icon-about.png) no-repeat;}
.program-block >div .impl{background: url(../images/icon-info.png) no-repeat;}
.program-block >div p{margin: 0 0 8px;}
.item-list{float: left;}
.item-list >div{
	float: left;
	width: 175px;
	background: url(../images/bg-item.png) repeat-x;
	position: relative;
	line-height: 16px;
	padding: 27px 21px 5px;
}
.item-list >div:first-child:after{background: none;}
.item-list >div:after{
	content:'';
	background: url(../images/separator03.gif) no-repeat;
	display: block;
	position: absolute;
	left: -1px;
	top: 8px;
	width: 2px;
	height: 145px;
}
.item-list .more{color:#005271;}
.download-block{
	float: right;
	padding: 22px 19px 0;
	line-height: 16px;
	width: 247px;
	background: url(../images/bg-item.png) repeat-x;
}
.download-block h3{
	margin: 0 0 10px;
	font: bold 13px/16px Tahoma, Geneva, sans-serif;
	color: #72b536;
}
.download-block .btn-down{
	font-size: 13px;
	padding: 7px 0 0;
}
.download-block .btn-down a{
	background: url(../images/icon-downloads.gif) no-repeat 0 50%;
	display: inline-block;
	vertical-align:top;
	padding-left: 19px;
	min-height: 11px;
	color: #005271;
}
.gallery{
	width: 980px;
	height: 413px;
	overflow:hidden;
	position: relative;
	z-index: 1;
}
.gallery .frame {
	margin-left: -28px;
	overflow: hidden;
	position: relative;
	width: 1149px;
}
.gallery ul{
	padding:0;
	margin:0;
	list-style: none;
}
.gallery .frame >ul {
	position:relative;
	width:99999px;
	overflow:hidden;
	padding-top: 40px;
}
.gallery .frame >ul >li {
	float:left;
	min-width:90px;
	min-height: 256px;
	background: url(../images/separator05.gif) no-repeat 0 2px;
}
.gallery .frame >ul .first-slide{
	padding: 2px 93px 22px 257px;
	position: relative;
}
.gallery .first-slide .slide:after{
	content:"";
	position: absolute;
	bottom: -8px;
	left: 25px;
	right: 0;
	background: url(../images/gallery-first-arrow.png) no-repeat 50% 0;
	height: 85px;
}
.gallery .first-slide .slide{
	background: url(../images/gallery-arrow.png) no-repeat;
	width: 432px;
	height: 314px;
	padding: 10px 175px 0 106px;
	margin-top: -20px;
	position: relative;
}
.gallery .first-slide .ribbon{
	font: bold 10px/13px Tahoma, Geneva, sans-serif;
	color:#000;
	text-transform: uppercase;
	text-align:center;
	text-shadow: 0 1px 0 rgba(255,255,255,.57);
	background: url(../images/gallery-ribbon.png) no-repeat;
	width: 57px;
	height: 52px;
	padding: 17px 16px;
	position: absolute;
	left: -24px;
	top: 28px;
}
.gallery .first-slide #sunburst{
	display:block;
	position:absolute;
	top:39px;
	left:5px;
	height:82px;
	width:82px;
}
.gallery .first-slide h1{
	margin: 0;
	font: 22px/28px Arial, Helvetica, sans-serif;
	color:#fff;
}
.gallery .list-link{
	overflow: hidden;
	padding: 10px 0 0;
	margin: 0 0 0 -20px;
}
.gallery .up-line{
	padding: 54px 0 0;
}
.gallery .down-line{padding: 15px 0 0 0;}
.gallery .list-link >li{
	float: left;
	min-width: 28px;
}
.gallery .legend-placeholder{
	position: absolute;
	left: 29px;
	bottom: 16px;
}
.gallery .item:first-child{background: none;}
.gallery .item{
	width: 367px;
	min-height: 256px;
	padding: 11px 16px 0 135px;
	float: left;
	background: url(../images/separator05.gif) no-repeat 0 2px;
	position: relative;
	color:#ebecec;
	font: 16px/23px Tahoma, Geneva, sans-serif;
}
.gallery .item .icon{
	position: absolute;
	top: -2px;
	left: 19px;
	width: 116px;
	height: 100px;
}
.gallery .item h2{
	margin: 0 0 12px;
	color:#b2e46b;
	font: bold 20px/26px Arial, Helvetica, sans-serif;
}
.gallery .item h2 >a,
.gallery .item a{
	color:#b2e46b;
}
.gallery .item .info{padding: 0 0 20px;}
.gallery .item .download{
	display: inline-block;
	vertical-align:middle;
	background: url(../images/sprite-download.png) no-repeat 100% -67px;
	padding-right: 3px;
	font-size: 13px;
	margin-right: 12px;
	color:#fff;
}
.gallery .item .download:hover{
	text-decoration: none;
	background-position: 100% -101px;
}
.gallery .item .download >span{
	display: block;
	height: 26px;
	text-align:center;
	min-width: 82px;
	padding: 0 0 0 5px;
	background: url(../images/sprite-download.png) no-repeat;
}
.gallery .item .file{
	display: inline-block;
	vertical-align: middle;
	padding-left: 31px;
	min-height: 23px;
	font-size: 14px;
	color:#ebecec;
	margin-top: 4px;
	text-transform: capitalize;
}
.gallery .item .file.pdf{background: url(../images/icon-pdf.png) no-repeat;}
.gallery .item .download:hover >span{background-position: 0 -34px;}
.gallery .item p{margin: 0;}
.slider-holder{
	padding:0;
	position:absolute;
	bottom:8px;
	left:0;
}
.number-list{
	padding:0;
	margin:0;
	list-style: none;
	font-size: 16px;
	width: 980px;
	overflow: hidden;
}
.number-list >li{
	background: url(../images/bg-number-list.png) no-repeat 50% 100%;
	min-width: 9px;
	margin-left: 102px;
	padding-bottom: 9px;
	text-align: center;
	float: left;
	width:18px;
}
.number-list >li:first-child{
	background: none;
	margin-left:3px;
	width:10px;
}
.number-list >li >a{color:#ebecec;}
.slider{
	background: url(../images/bg-slider.png) no-repeat;
	width: 946px;
	height: 11px;
	padding: 0 16px;
	position: relative;
}
.slider .prev,
.slider .next{
	text-indent: 100%;
	overflow:hidden;
	white-space: nowrap;
	background: url(../images/slider-arrow.png) no-repeat;
	width: 19px;
	height: 10px;
	position: absolute;
	top: 0;
}
.slider .prev{left: 0;}
.slider .next{
	right: 0;
	background-position: -959px 0;
}
.ui-slider{
	position: relative;
	width: 840px;
	height:10px;
	margin-left:42px;
}
.ui-slider-handle{
	position: absolute;
	top: 0;
	background: url(../images/slider-slide.png) no-repeat 100% -15px;
	padding-right: 7px;
	margin-left:-50px;
}
.ui-slider-handle >span{
	display: block;
	height: 10px;
	width: 108px;
	background: url(../images/slider-slide.png) no-repeat; 
}
#footer-wrapper{
	background: url(../images/bg-footer.png) repeat-x top left;
	padding:16px 0 0 0;
}
#footer{/*
	font-size: 10px;
	line-height: 12px;
	width: 980px;
	padding: 16px 10001px 59px;
	margin: 0 -10001px;
*/}
.nav,
.social-icon{
	padding:0;
	margin:0;
	list-style: none;
}
.nav{
	overflow: hidden;
	font-size:11px;
	line-height: 13px;
}
.nav >li{
	float: left;
	background: url(../images/separator02.gif) no-repeat 0 50%;
	padding: 0 6px 0 10px;
}
.nav >li:first-child{
	padding-left: 0;
	background: none;
}
.nav a{color:#fff;}
.nav a[href^="http://"]{
	display: inline-block;
	vertical-align: top;
	background: url(../images/icon-link-outside.png) no-repeat 100% 50%;
	padding-right: 16px;
}
#footer p{margin: 0 0 10px;}
#footer .info{
	color:#c4d1d3;
	font-size:11px;
	line-height: 13px;
	padding: 7px 0 8px;
}
#footer .info address{
	margin: 0;
	padding: 0;
	font-style: normal;
}
#footer .info dl{margin: 0;}
#footer .info dt,
#footer .info dd{display: inline;}
#footer .info dd{margin:0 3px 0 0;}
.social-icon{
	overflow: hidden;
	margin: 0 0 7px -5px;
}
.social-icon >li{float: left;}
.social-icon a{
	background: url(../images/sprite-social-icon.png) no-repeat;
	text-indent: 100%;
	overflow:hidden;
	white-space: nowrap;
	width: 34px;
	height: 33px;
	display: block;
}
.social-icon .linkedin{background-position: 0 0;}
.social-icon .facebook{background-position: -44px 0;}
.social-icon .twitter{background-position: -91px 0;}
.social-icon .youtube{background-position: -142px 0;}
#footer .copy{
	font-size: 11px;
	color: #e8e8e8;
}
#header .contact{
	float:right;
	padding:0 2px 0 0;
	width:160px;
	text-align:right;
	color:#717074;
	font:13px/21px Tahoma, Arial, Helvetica, sans-serif;
}
#header .contact span,
#header .contact a{
	color:#008fc5;
	font-size:14px;
	font-weight:bold;
}

.lesson{
	display: block;
	margin-left: 20px;