/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{border-style:none;} 
a{
	color:#000;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
a:active {background-color: transparent;}
input,
textarea,
select{
	font:100% arial,sans-serif;
	vertical-align:middle;
}
body{
	color:#000;
	line-height:1;
	background:#aeaeae;
	min-width:1000px;
}
#wrapper:after{
	content:"";
		display:block;
		clear:both;
}
#wrapper{
	width:100%;
	overflow:hidden;
	position:relative;
}
.w1{
	width:969px;
	margin:0 auto;
}
#header{
	z-index:4;
	position:relative;
	background: url(../images/shadow1.png) repeat-x 0 100%;
	padding:0 9999px 29px;
	margin:0 -9999px;
}
#header .holder{
	overflow:hidden;
	padding:24px 9999px 20px;
	position:relative;
	margin:0 -9999px;
	width:100%;
	background:#fff url(../images/bg-header.png) no-repeat 50% 0;
	}
#header .logo {
	background:url(../images/sprite.png) no-repeat;
	width: 246px;
	height: 55px;
	float:left;
	margin:-4px 23px 0 7px;
	overflow:hidden;
	text-indent:-9999px;
}
#header .logo a{
	display:block;
	height:100%;
}
#header h1{
	font:bold 22px/25px Tahoma, Arial, Helvetica, sans-serif;
	color:#717074;
	padding:12px 0 10px 22px;
	text-shadow:0 1px 0 #fff;
	float:left;
	text-transform:uppercase;
	width:500px;
	background: url(../images/separator1.png) no-repeat;
}
#header .contact{
	float:right;
	padding:0 2px 0 0;
	width:160px;
	text-align:right;
	color:#717074;
	font:13px/21px Tahoma, Arial, Helvetica, sans-serif;
}
#header .contact span,
#header .contact a{
	color:#008fc5;
	font-size:14px;
	font-weight:bold;
}
#main{
	width:100%;
	position:relative;
	padding:0 9999px;
	margin:-29px -9999px 0;
}
#main .gallery-holder{
	padding:0 9999px;
	width:100%;
	margin:0 -9999px;
	overflow:hidden;
	background:#0174aa url(../images/bg-gallery.jpg) no-repeat 50% 1px;
}
#main .gallery-frame{
	padding:0 9999px;
	margin:0 -9999px;
	overflow:hidden;
	width:100%;
	background: url(../images/bg-gallery-title.png) repeat-x 0 100%;
}
#main .slideshow{
	position:relative;
	color:#fff;
	overflow:hidden;
	font:14px/23px Tahoma, Arial, Helvetica, sans-serif;
	width:970px;
	margin:0 auto;
	padding:42px 0 0 21px;
}
#main .slideshow .slideset{
	overflow:hidden;
	width:99999px;
}
#main .slideshow .slide{
	float:left;
	width:980px;
	padding: 0 0 10px;
}
#main .slideshow .slide p{margin: 0 0 19px;}
#main .slideshow .col-holder{
	overflow: hidden;
	margin: 0 0 24px;
	background: url(../images/separator2.png) repeat-y 473px 0;
	height: 297px;
}
#main .slideshow .gallery-title{
	text-align:center;
	color:#fff;
}
#main .slideshow .gallery-title h3{
	text-transform:uppercase;
	font:bold 14px/14px Tahoma, Arial, Helvetica, sans-serif;
}
#main .slideshow .slide .col{
	width:456px;
	float:left;
	padding:0 0 4px 28px;
}
#main .slideshow .slide .col:first-child{
	background:none;
	padding:0 17px 0 0;
}
#main .slideshow .heading{
	overflow:hidden;
	padding:8px 0 0;
	margin: 0 0 0 -10px;
	color:#fff;
}
#main .slideshow .heading .alignleft{
	float:left;
	margin:-12px 7px 0 0;
}
#main .slideshow .slide .col .text-holder{overflow:hidden;}
#main .slideshow .heading h2{
	font-size:22px;
	line-height:25px;
	color:#b2e46b;
	font-weight:bold;
	margin:0 0 15px;
}
#main .slideshow .heading .row{overflow:hidden;}
#main .slideshow .heading .download{
	background: url(../images/btn1.png) no-repeat;
	padding:4px 16px 6px 18px;
	font:13px/16px Tahoma, Arial, Helvetica, sans-serif;
	color:#fff;
	float:left;
	margin: 0 17px 0 0;
}
#main .slideshow .heading .row img{
	float:left;
	margin:3px 6px 0 0;
}
#main .slideshow .heading .row .file{
	float:left;
	font:13px/16px Tahoma, Arial, Helvetica, sans-serif;
	padding:5px 0 0;
}
#main .pagination-holder{
	padding:0 9999px;
	margin:0 -9999px;
	overflow:hidden;
	background:#161616 url(../images/bg-pagination.jpg) no-repeat 50% 0;
}
#main .pagination-frame{
	width:980px;
	margin:0 auto;
	overflow:hidden;
	padding:8px 0 3px;
}
#main .pagination{
	float:left;
	background: url(../images/bg-pagination-list.png) no-repeat 0 100%;
	width: 874px;
	}
#main .pagination-holder .btn-prev,
#main .pagination-holder .btn-next{
	width:25px;
	height:47px;
	text-indent:-9999px;
	overflow:hidden;
}
#main .pagination-holder .btn-prev{
	background: url(../images/sprite.png) no-repeat 0 -105px;
	float:left;
	margin: 0 12px 0 18px;
}
#main .pagination-holder .btn-next{
	float:right;
	margin:3px 13px 0 0;
	background: url(../images/sprite.png) no-repeat 0 -55px;
}
#main .pagination ul{
	overflow:hidden;
	padding:0 0 1px;
}
#main .pagination li{
	float:left;
	width: 235px;
	padding:0 0 10px;
	text-align:center;
	background-repeat:no-repeat;
	background-position:50% 100%;
}
#main .pagination li.first-child{
	text-align:left;
	margin:0 -35px 0 0;
	background-position:0 100%;
}
#main .pagination li.last-child{
	text-align:right;
	margin:0 0 0 -31px;
	background-position:100% 100%;
}
#main .pagination li.first-child a{margin:0 0 0 28px;}
#main .pagination li.last-child a{margin: 0 30px 0 0;}
#main .pagination a{
	padding:0 0 16px;
	background: url(../images/separator3.png) no-repeat 50% 100%;
	color:#fff;
	font:16px/16px Tahoma, Geneva, sans-serif;
	display:inline-block;
	vertical-align:top;
}
#main .pagination a:hover{text-decoration:none;}
#main .pagination li.active{background-image: url(../images/bg-pagination-active.png);}
#main .pagination li.alt{
	width: 313px;
	display:none;
}
.slide-block{
	position:absolute;
	top:0;
	left:9999px;
	width:1035px;
	z-index:4;
	margin:0 0 0 -23px;
}
.slide-block .opener-holder{
	background:url(../images/bg-opener.png) no-repeat;
	display:block;
	text-align:center;
	color:#fff;
	width:1035px;
	margin:0 -8px;
	padding:0 8px 10px;
}
.slide-block.active .opener-holder{
	margin:-5px -8px 0;
	padding:6px 8px 11px;
	width:1035px;
	background:url(../images/bg-opener2.png) no-repeat;
}
.slide-block.active .opener-holder .opener{padding:1px 0 6px;}
.slide-block.active .opener-holder span{background:url(../images/bg-arrow.png) no-repeat 100% -19px;}
.slide-block .opener{
	color:#fff;
	padding:3px 0 6px;
	display:block;
}
.slide-block .opener:hover{
	text-decoration:none;
	cursor:pointer;
}
.slide-block .opener span{
	background:url(../images/bg-arrow.png) no-repeat 100% 5px;
	padding:0 18px 0 0;
	text-transform:uppercase;
	display:inline-block;
	vertical-align:top;
	font:bold 12px/15px Tahoma, Geneva, sans-serif;
}
.slide-block .slide-holder{
	position:relative;
	overflow:hidden;
	width:100%;
	background:#232323 url(../images/bg-slide.png) no-repeat;
}
.slide-block .slide{
	position:relative;
	overflow:hidden;
	padding:29px 15px 0;
}
.slide-block .slide h2{
	margin:0 34px 0 0;
	text-transform:uppercase;
	color:#fff;
	text-align:center;
	font:bold 14px/18px Tahoma, Geneva, sans-serif;
}
.slide-block .slide .arrow-list{
	padding:33px 16px 53px;
	margin:-21px 0 -33px 17px;
	list-style:none;
	overflow:hidden;
	background:url(../images/bg-arrow-list.png) no-repeat;
}
.slide-block .slide .arrow-list li{
	float:left;
	width:210px;
}
.slide-block .slide .arrow-list li:first-child{
	width:212px;
	padding:0 0 0 19px;
}
.slide-block .slide .arrow-list li:first-child>a>span{width:105px;}
.slide-block .slide .arrow-list li .first{
	color:#fff;
	font-weight:bold;
	text-shadow:2px 1px 1px #ff570d;
}
.slide-block .slide .arrow-list li a{
	display:block;
	padding:26px 0 16px;
	overflow:hidden;
}
.slide-block .slide .arrow-list li a:hover{
	text-decoration:none;
	cursor:pointer;
}
.slide-block .slide .arrow-list li span{
	color:#001d2b;
	text-transform:uppercase;
	text-shadow:2px 1px 1px #98ee35;
	font:9px/11px Tahoma, Geneva, sans-serif;
	float:left;
	width:105px;
}
.slide-block .slide .arrow-list li .mark span{
	color:#fff;
	font-weight:bold;
	text-shadow:2px 1px 1px #0c2e04;
}
.slide-block .arrow-list li span .text{
	display:block;
	text-align:left;
}
.slide-block .arrow-list li span .text.follow em{text-indent:3px;}
.slide-block .arrow-list li span .text em{
	font-style:normal;
	text-indent:7px;
	display:block;
}
.arrow-list li span .img-holder{
	min-height:58px;
	display:block;
	text-align:right;
}
.arrow-list li span .img-holder.first{margin:-11px 0 12px;}
.arrow-list li span img{vertical-align:top;}
.box-list{
	overflow:hidden;
	padding:40px 52px 54px 60px;
	margin:9px 0 0 14px;
	list-style:none;
	background:url(../images/bg-box-list.png) no-repeat;
}
.box-list li{
	float:left;
	width:290px;
}
.box-list li a{display:block;}
.box-list li a:hover{
	text-decoration:none;
	cursor:pointer;
}
.box-list li .box{
	float:left;
	width:145px;
	text-align:center;
	color:#fff;
	text-shadow:2px 1px 1px #000;
	text-transform:uppercase;
	font:bold 9px/11px Tahoma, Geneva, sans-serif;
}
.box-list li .box img{
	vertical-align:top;
	margin:0 0 7px;
}
.box-list li .box span{display:block;}
#footer{
	padding:15px 10005px 100px;
	margin:0 -9999px;
	font:10px/12px Tahoma, Geneva, sans-serif;
	color:#5c5c5c;
	overflow:hidden;
	background:#aeaeae url(../images/bg-footer.png) repeat-x;
}
#footer .sub-nav{
	font-size:11px;
	line-height:14px;
	overflow:hidden;
	margin: 0 0 7px;
	position:relative;
	z-index:6;
}
#footer .sub-nav li{
	float:left;
	background: url(../images/separator4.png) no-repeat 0 3px;
	padding:0 7px 0 10px;
}
#footer .sub-nav li:first-child{
	background:none;
	padding: 0 7px 0 0;
}
#footer .sub-nav a{color:#fff;}
#footer .sub-nav li a.get-file{
	padding:0 20px 0 0;
	background: url(../images/arrow.png) no-repeat 100% 0;
}
#footer address{
	margin:0 0 8px;
	font-style:normal;
	font-size:11px;
	line-height:13px;
	color:#c4d1d3;
}
#footer .social-networks{
	overflow:hidden;
	margin:0 0 8px -5px;
}
#footer .social-networks li{float:left;}
#footer .social-networks a{
	width:33px;
	height:33px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}
#footer .social-networks .linkedin{background: url(../images/bg-social-networks.png) no-repeat;}
#footer .social-networks .facebook{background: url(../images/bg-social-networks.png) no-repeat 0 -33px;}
#footer .social-networks .twitter{background: url(../images/bg-social-networks.png) no-repeat 0 -66px;}
#footer .social-networks .youtube{background: url(../images/bg-social-networks.png) no-repeat 0 -99px;}
#footer .copyright{
	display:block;
	color:#e8e8e8;
	font-size:11px;
	line-height:14px;
}
#footer p{margin:0 0 8px;}
#footer .holder{
	position:relative;
	padding:0 0 23px;
}
.skip{
	position:absolute;
	top:0;
	color:#000;
	left:-9999px;
}
.skip:focus{left:9999px;}
.skip.bottom{
	bottom:0;
	top:auto;
}
.skip.bottom:focus{left:0;}
.white-text{
	color:white;
	font-family: helvetica;
	text-align: center;
	padding: 10px 0px;
	font-size: 13px;
}